<div class=" container mt-2">
    <form [formGroup]="addContactForm">
    <div >
        <div class="row">
           
            <div class="col-2"></div>
            <div class="col-8 mt-3">
                <h4 class="ps-2 p-3 title">Edit Contact</h4>
                <div class="container box p-5 mt-2">
                    <input class="form-control p-3" type="text" formControlName="name" placeholder="Name"> <br>
                    <div class="row">
                        <div class="col-4" >
                            <select class="form-select p-3  "  formControlName="countryCode" (change)="checkchange()">
                                <option value="" selected>Select Country Code</option>
                                <option *ngFor="let code of countrycodes" [value]="code.dial_code">{{code.name}} {{code.dial_code}}</option>
                              </select>

                        </div>
                        <div class="col-8">
                            <input class="form-control p-3" type="text" formControlName="number" placeholder="Phone Number">
                        </div>
                    </div> <br>
                    <input  class="form-control p-3" type="text" formControlName="email" placeholder="Email Address"> <br>
                    <textarea  class="form-control p-3" type="text" formControlName="address" placeholder="Address"></textarea>
        
                    <button class="btn btnColor mt-5 px-5" (click)="editContact()">
                        Edit Contact
                    </button>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
       
    </div>
</form>
</div>