.box{
    background-color: #8BB7A2;
    border-radius: 50px;
    
}
.form-control{
    background-color: #8BB7A2;
    border: 1px solid rgb(215, 216, 220);
    border-radius: 30px;
    font-size: small;
}

.form-select{
    background-color: #8BB7A2;
    border: 1px solid rgb(215, 216, 220);
    color: #3B4947;
    border-radius: 30px;
    font-size: small;
}

.btnColor{
    background-color: #FDFEFF;
    color: #8BB7A2;
    
    border-radius: 30px;
    height: 50px;
}

.title{
    border-radius: 10px;
    font-size: large;
}