mat-sidenav{
    background-color: #626C79;
    width: 230px;
    height:100%;
    border: 0px solid #626C79;
    
}
mat-sidenav-content{
    height: 100vh;
    background-color: #F2F2F2;
    border: 0px solid #F2F2F2;
    .main{
        margin-left: 20px;
    }
}

.logoutIcon{
    transition: transform 450ms;

}
.logoutIcon:hover{
    transform: scale(1.20);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}